select, textarea, input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
  border-radius: 4px;
  color: #555555;
  display: inline-block;
  font-size: 16px !important;
  height: auto;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 5px 10px;
  vertical-align: middle;
  background: none repeat scroll 0 0 #f6f8f8;
}

input:focus:invalid:focus, 
textarea:focus:invalid:focus, 
select:focus:invalid:focus {
  border-color: #999;
  box-shadow: 0 0 0;
  background: none;
}

textarea {
  background: none repeat scroll 0 0 #f6f8f8;
  width: 100%;
}

input.submit{
	background: none repeat scroll 0 0 #7fd075;
	border-radius: 2px;
	color: #fff;
	font-size: 0.9em;
	font-weight: 700;
	padding: 8px 16px;
	text-decoration: none;
	box-shadow: none !important;
	border: none;
	&:hover{
		opacity: 0.65;
	}
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}